html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: arial;
	background: url("images/Fond.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


#invisible{
	display: block;
	position: absolute;
	top: 125px;
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
	background-color: transparent;
	z-index: 1;
}

/****  MENU  ****/

	.logosdumenu{
		background-color: rgba(0, 7, 10, 0.3);
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100px;
		padding-top: 5px;
		padding-bottom: 20px;
		z-index: 99;
	}

	.logobomb{
		float: left;
		margin-left: 25px;
		margin-top: 0px;
		margin-bottom: -10px;
		width: 120px;
		height: 110px;
	}

	.logotuto{
		float: right;
		margin-left: 5px;
		margin-top: -5px;
		margin-bottom: -10px;
		width: 160px;
		height: 140px;
	}

	.header{
		display: block;
		color: #f1f1f1;
		text-align: center;
		top: 0;
		width: 100%;
	}

	#lid{
		list-style: none;
		float: left;
		display: inline-block;
		padding: 30px 0 0 0;
		color: rgba(51, 136, 220, 1);
		font-size: 25px;
		font-weight: bold;
		font-style: italic;
		cursor: pointer;
	}

	#lit{
		list-style: none;
		float: right;
		display: inline-block;
		padding: 30px 0 0 0;
		color: rgba(51, 136, 220, 1);
		font-size: 25px;
		font-weight: bold;
		font-style: italic;
		cursor: pointer;
	}

	#limenu{
		list-style: none;
		display: inline-block;
		padding: 30px 22.5px 0 22.5px;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	.amenu{
		text-decoration: none;
	}

	.amenu:hover{
		border-bottom: 3px solid white;
	}

	#demineur{

		margin: 100px 100px 0 100px;
	}

/****  MENU  ****/

/****  DEMINEUR  ****/

	tr {
		background-color: grey;
		margin : 0px !important;
		padding : 0px !important;
		line-height:0px !important;
		width : 30px !important;
		height: 30px !important;
	}
	td {
		background-color: #fff;
		margin : 0px !important;
		padding : 0px !important;
		width : 30px !important;
		height: 30px !important;
		text-align : center;
		font-weight: bold;
	}

	th {
		border: 0;
	}

	th.last {
		text-align : right;
	}

	td img {
		margin: 0;
		padding: 0;
		width: 20px;
		height: 30px;
	}

	td.unknown {
		background-color: #dbdbdb;
	}

	.class1 {
		color: #3c51c0;
		font-family: Impact;
		font-weight: bold;
	}
	.class2 {
		color: #1f6603;
		font-family: Impact;
		font-weight: bold;
	}
	.class3 {
		color: #b00304;
		font-family: Impact;
		font-weight: bold;
	}
	.class4 {
		color: #020183;
		font-family: Impact;
		font-weight: bold;
	} 
	.class5 {
		color: #7d0101;
		font-family: Impact;
		font-weight: bold;
	}
	.class6 {
		color: #027e7b;
		font-family: Impact;
		font-weight: bold;
	}
	.class7 {
		color: #ac0504;
		font-family: Impact;
		font-weight: bold;
	}
	.class8 {
		color: #ae0708;
		font-family: Impact;
		font-weight: bold;
	}

	.timer{
		border: none;
		position: relative;
		width: 18px;
		height: 20px;
	}

	#chrono{
		padding:0;
		padding-right : 5px;
		text-align : right;
		position: relative;
		margin-right: 10px;
		bottom: 2px;
	}

	.imagebombedemineur{
		border: none;
		position: relative;
		float: left;
		width: 30px;
		height: 30px;
	}

	#bombe{
		position: relative;
		float: left;
		margin-left: 15px;
		bottom: -15px;
	}

	.explosion{
		width: 25px;
		height: 25px;
	}

/****  DEMINEUR  ****/

/****  LANGUE  ****/

	#cadredeslangues{
		display: block;
		float: left;
		margin: 200px 30px 0 30px;
		border: 2px solid black;
	    box-shadow: 1px 1px 12px #111;
	    border-radius: 10px;
		padding: 30px;
	    background-color: rgba(255, 255, 255, 0.7);
	    overflow: hidden;
	}

	.lesdrapeaux{
		display: block;
		border: 2px solid black;
		width: 130px;
		height: 70px;
		border-radius: 200px;
		margin-top: 20px;
		margin-bottom: 20px;
		z-index: 99;
	}

/****  LANGUE  ****/

	#reStart{
		background-color: rgba(51, 136, 220, 1);
		border: 2px solid rgba(51, 136, 220, 1);
		color: white;
		margin: 40px 0 90px 0;
		padding: 3px 15px;
		border-radius: 4px;
		cursor: pointer;
		font-weight: bold;
		font-size: 15px;
	}

	#reStart:hover {
		background-color: rgba(51,136,220, 0.5);
		border: 2px solid rgba(51, 136, 220, 1);
	}

	#divcadre{
	    display: block;
	    top: 60px;
	    text-align: center;
	    border: 1px solid grey;
	    box-shadow: 1px 1px 12px #aaa;
	    border-radius: 10px;
	    margin: 100px 80px -30% 370px;
	    min-height: 30vh;
	    background-color: rgba(255, 255, 255, 0.7);
	    overflow: hidden;
	}

/****  MESSAGE  ****/

	#message{
		position: fixed;
		bottom: 0;
		width: 95%;
		left: 2.5%;
		height: 80px;
		border-radius: 10px;
		text-align: center;
		color: white;
		font-size: 20px;
		background-color: rgba(108, 122, 137, 0.9);
		z-index: 99;
	}

	.pmessage{
		margin: 30px 0 30px 0;
	}

	.buttoncroix{
		position: relative;
		float: right;
		bottom: 65px;
		right: 10px;
		border: none;
		background-color: transparent;
	}

	.croix{
		border: none;
		width: 25px;
		height: 25px;
	}

/****  MESSAGE  ****/

/****  TUTORIEL  ****/

	.tutoimg{
		display: block;
		float: left;
		width: 260px;
		height: 300px;
		padding: 40px;
	}

	.tutop{
		padding: 40px;
		font-size: 20px;
	}

/****  TUTORIEL  ****/

/****  FOOTER  ****/

	.footer{
		text-align: center;
		margin-top: 80%;
		width: 100%;
		height: 100px;
		background-color: rgba(79, 79, 79, 0.9);
		color: white;
		font-size: 20px;
		z-index: 99;
	}

	.siteweb{
		color: white;
		text-decoration: none;
		margin-left: 20px;
		margin-right: 20px;
	}

	.siteweb:hover{
		color: white;
		border-bottom: 1px solid white;
	}

/****  FOOTER  ****/

/****  TUTORIEL  ****/

	.h1{
		font-size: 40px;
	}

	.tutop{
		display: block;
		width: 54%;
		min-width: 10%;
		float: right;
		margin-right: 10px;
		margin-left: -30px;
		text-align: justify;
	}

	.bombe{
		width: 30px;
		height: 30px;
	}

	.drapeau{
		width: 20px;
		height: 25px;
	}

	#bgimgb{
		display: block;
		background-color: rgba(255, 255, 255, 0.7);
		margin: -30px -30px -30px 420px;
		padding: 5px;
		text-align: center;
		border: 1px solid grey;
		box-shadow: 1px 1px 12px #aaa;
		border-radius: 10px;
	}

	#bgimgd{
		display: block;
		background-color: rgba(255, 255, 255, 0.7);
		margin: -30px 0px -30px 560px;
		padding: 5px;
		text-align: center;
		border: 1px solid grey;
		box-shadow: 1px 1px 12px #aaa;
		border-radius: 10px;
	}

	.left{
		display: block;
		float: left;
		margin-left: 30px;
		margin-bottom: 30px;
		padding: 20px;
		width: 300px;
		height: 450px;
		text-align: center;
		border: 1px solid grey;
		box-shadow: 1px 1px 12px #aaa;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.7);
	}

	.ex{
		margin-top: 50px;
		width: 230px;
		height: 250px;
	}

	.indication{
		margin: 20px 5px 20px 5px;
		width: 70px;
		height: 70px;
	}

	.tutofin{
		display: block;
		text-align: center;
		width: 50%;
		height: 100px;
		margin-top: 56%;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 20px;
		padding: 10px;
	}

	.tutoa{
		color: black;
		text-decoration: none;
	}

	.tutoa:hover{
		color: white;
		text-decoration: underline;
	}


